.sidebar{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    min-width: 259px;
    background-color: #ffffff;
}
.sidebar__header{
    padding: 0 10px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
}
.sidebar__header > .MuiSvgIcon-root{
    font-size: 40px !important;
    color: gray;
}

.sidebar__search{
    height: 69px;
    background-color: #f3f0f0;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.sidebar__searchBox{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 15px;
}
.sidebar__searchBox > .MuiSvgIcon-root{
    color: gray;
    margin: 0 10px;
}
.sidebar__searchBox > input{
    height: 20px;
    outline: none;
    border: none;
    width: 80%;
    color: gray;
}

.sidebar__chat{
    height: 100%;
    overflow-y: scroll;
}
.sidebar__chatEach{
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
}
.sidebar__chatEach:hover{
    background-color: #ededed;
}
.sidebar__chatEach > .MuiSvgIcon-root{
    font-size: 49px;
    margin: 0 10px;
    color: gray;
}
.sidebar__chatEachTextBox {
    width: 100%;
}
.sidebar__chatEachTextBox > p{
    font-size: 14px;
    color: gray;
}
.sidebar__chatEachTextBox > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar__chatEachTextBox > div > p{
    color: gray;
    font-size: 10px;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar__chatEachTextBox > div > h2{
    font-size: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar__chatEach > p {
    right: 0;
}
